<?xml version="1.0"?>
<!--
/**
 * Copyright © All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Menu Top Level Resource -->
                <resource id="Magendoo_ShippingRestrictions::top_level" title="Shipping Restrictions" sortOrder="100">
                    <!-- CRUD Operations Resource -->
                    <resource id="Magendoo_ShippingRestrictions::shippingrestriction" title="Manage Shipping Restrictions" sortOrder="10">
                        <resource id="Magendoo_ShippingRestrictions::shippingrestriction_save" title="Save" sortOrder="10"/>
                        <resource id="Magendoo_ShippingRestrictions::shippingrestriction_delete" title="Delete" sortOrder="20"/>
                    </resource>
                </resource>

                <!-- Configuration Resource -->
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magendoo_ShippingRestrictions::config" title="Shipping Restrictions Configuration" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

